<section class="text-light p-5 text-center text-sm-start">
  <div class="container py-5">
    <div class="d-sm-flex justify-content-between">
      <div>
        <h3>Hello, It's me</h3>
        <h1>Erandaka Bandara</h1>
        <h3>and I'm a <span>Full stack Developer</span></h3>
        <p class="lead my-5">
          Please find more about my self and I'm happy to connect with you!
        </p>
        <button class="btn btn-primary" (click)="openResume()">
          View my Resume
        </button>
        <div class="my-4">
          <button class="btn btn-outline-light me-3">
            <i class="bi bi-linkedin"></i>
          </button>
          <button class="btn btn-outline-light me-3">
            <i class="bi bi-github"></i>
          </button>
        </div>
      </div>
      <div>
        <img class="img-fluid" src="assets/image/EAB.png" width="400" />
      </div>
    </div>
  </div>
</section>
